@font-face {
    font-family: 'Grand Hotel';
    font-weight: 400;
    src: url('font/grandhotel-regular-webfont.woff2') format('woff2'),
    url('font/grandhotel-regular-webfont.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: black;
}

aside {
    flex-direction: column;
    background-color: black;
    height: 100vh;
    padding: 20px;
    padding-top: 22px;
}

.nav-mobile {
    display: none;
}


.nav-mobile-bottom {
    display: none;
}

.aside-left {
    width: 250px;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    border-right: 1px  solid rgb(102, 102, 102);
}

.aside-profil {
    border-radius: 30px;
}

.menu {
    padding-top: 20px;
}

.logo {
    display: none;
    -webkit-filter: invert(100%); /* Safari/Chrome */ 
    filter: invert(100%);
    z-index: 2;
    opacity: 100%;
    height: 40px;
    width: 40px;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-top: 20px;
}


h1, .aside-left a {
    text-decoration: none;
    color: white;
    font-family: 'Grand Hotel', sans-serif;
    font-size: 32px;
    margin: 0 0 30px 0;
    letter-spacing: 1px;
    font-weight: normal;
}

.nav div {
    -webkit-filter: invert(100%); /* Safari/Chrome */ 
    filter: invert(100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
    padding-bottom: 15px;
    cursor: pointer;
}

.nav div:hover{
    background-color: rgb(235, 235, 235);
}

.selected {
    background-color: rgb(235, 235, 235);
}

.nav div img {
    height: 30px;
    margin-right: 15px;
}


.search {
    z-index: 1;
    position: fixed;
    background-color: black;
    height: 100vh;
    width: 65vh;
    margin-top: -28px;
    margin-left: 60px;
    border-radius: 20px;
    border-right: 1px solid rgb(102, 102, 102);
    color: white;
}

.search-input {
    padding: 25px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(102, 102, 102);
}

.search h3 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 30px;
}

.search input{
    width: 55vh;
    height: 40px;
    background: rgb(46, 46, 46);
    border: 0;
    border-radius: 10px;
    padding-left: 10px;
    color: white;
}

.search-recent {
    margin: 30px;
}

.search-recent p{
    margin-top: 200px;
    text-align: center;
    font-size: 15px;
    color: rgb(102, 102, 102);
}

.hide{
    display: none;
}

.show{
    display: block;
}

.post {
    margin: auto;
    position: relative;
    margin: 2% 30%;
    width: 470px;
    height: 810px;
    border-bottom: 1px solid rgb(102, 102, 102);
}

.post-profile-info{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: wrap;
}

.post-profile-info img{
    border-radius: 40px;
}

.post-info-text {
    margin: 2px 5px;
    color: white;
    font-size: 13px;
    
}

.post-info-text div span{
    color: rgb(102, 102, 102);
    margin-left: 5px;

}

.post-info-text div{
    display: flex;
    flex-direction: row;
}

.post-info-text h3{
    font-weight: bold;
}

.post-info-text .post-more {
    height: 30px;
    width: 30px;
    -webkit-filter: invert(100%); /* Safari/Chrome */ 
    filter: invert(100%);
    margin-left: 397px;
    margin-top: -25px;
    cursor: pointer;
}

.post-content {
    margin-top: 10px;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 5px;
    height: 587px;
}

.post-content video{
    height: 585px;
    max-width: 468px; 
    min-width: 326px; 
    padding: 0; 
    width: 99.375%; 
    width: -webkit-calc(100% - 2px); 
    width: calc(100% - 2px);
}

.interactions {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: inline;
}

.interactions img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.left {
    margin-right: 10px;
    float: left;
}

.right {
    float: right;
}

.likes {
    position: absolute;
    margin-top: 40px;
    color: white !important;
    font-weight: bold;
}

.title-post {
    color: white !important;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    font-size: 15px;
}

.title-post h3{
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.translation {
    color: white;
    margin-top: 100px;
    font-size: 12px;
    cursor: pointer;
}

.comments p{
    margin: 5px 0;
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.aside-right {
    width: 350px;
    display: flex;
    top: 0;
    right: 0;
    position: fixed;
}

.profil img{
    display: flex;
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
}

.profil h3 {
    cursor: pointer;
}

.profil div p{
    margin-top: -10px;
    color: rgba(255, 255, 255, 80%);
}

.profil h3, .profil p{
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 80px;
    text-align: left;
    font-weight: normal;
}

.profil-infos a {
    position: absolute;
    display: flex;
    text-decoration: none;
    color: rgb(30, 154, 255) !important;
    margin-top: -30px;
    margin-left: 250px;
}

.seeall {
    color: rgb(189, 189, 189);
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
}

.seeall a{
    color: white;
    margin-top: -20px;
    font-weight: normal;
}

.suggests .profil {
    margin-bottom: 30px;
}

.profil a {
    margin-top: -30px;
}